# Entorno virtual
venv/
ENV/
env/

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
lib/

# Distribución
build/
dist/
*.egg-info/
.eggs/

# Logs y temporales
*.log
*.tmp
*.swp
*.DS_Store

# Configuración de editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de Jupyter
.ipynb_checkpoints/

# Archivos de Mininet (si generas topologías o logs)
*.out
*.txt
*.topo

# Configuración sensible
*.env

# Archivos de estado de la IA
network_history.json
ultimo_informe.txt
ultima_rafaga.txt
topologia_red.png
topologia_interactiva.html